{% extends 'shop/base.html' %}
{% block content %}
    <h1 class="text-3xl font-bold text-brown-800 mb-8">Кошик</h1>
    {% if cart_items %}
        <div class="bg-white rounded-lg shadow-md p-6">
            <table class="w-full text-left">
                <thead>
                    <tr class="border-b border-beige-700">
                        <th class="py-3 text-brown-700">Товар</th>
                        <th class="py-3 text-brown-700">Кількість</th>
                        <th class="py-3 text-brown-700">Ціна</th>
                        <th class="py-3 text-brown-700">Загалом</th>
                        <th class="py-3"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr class="border-b border-beige-700">
                            <td class="py-3 text-brown-600">{{ item.furniture.name }}</td>
                            <td class="py-3 text-brown-600">{{ item.quantity }}</td>
                            <td class="py-3">
                                {% if item.furniture.is_promotional and item.furniture.promotional_price %}
                                    <span class="text-red-600">{{ item.item_price|floatformat:2 }} грн</span>
                                    <span class="text-brown-500 line-through">{{ item.furniture.price|floatformat:2 }} грн</span>
                                {% else %}
                                    <span class="text-brown-600">{{ item.item_price|floatformat:2 }} грн</span>
                                {% endif %}
                            </td>
                            <td class="py-3 text-brown-600">{{ item.total_price|floatformat:2 }} грн</td>
                            <td class="py-3">
                                <button data-id="{{ item.furniture.id }}"
                                        data-url="{% url 'shop:remove_from_cart' %}"
                                        class="remove-from-cart text-red-600 hover:text-red-800">
                                    Видалити
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4 class="text-xl font-bold text-brown-800 mt-6">Загальна сума: {{ total_price }} грн</h4><br>
            <a href="{% url 'shop:checkout' %}" class="btn-grad">
                Оформити замовлення
            </a>
        </div>
    {% else %}
        <p class="text-brown-600">Кошик порожній.</p>
    {% endif %}
{% endblock %}