{% extends 'shop/base.html' %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-brown-800 mb-8">Контакти</h1>
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold text-brown-800 mb-4">Зв'яжіться з нами</h2>
            <p class="text-brown-600 mb-4">
                Маєте питання? Наші менеджери готові допомогти!
            </p>
            <h3 class="text-xl font-semibold text-brown-800 mb-2">Контактна інформація</h3>
            <p class="text-brown-600 mb-4">
                Телефон: <a href="tel:+380501234567" class="nav-link">+380 67 841 62 72</a><br>
                <!-- Email: <a href="mailto:info@mebli.ua" class="nav-link">info@mebli.ua</a><br> -->
                Адреса: м. Дніпро, проспект Богдана Хмельницького, 31Д
            </p>
            <h3 class="text-xl font-semibold text-brown-800 mb-2">Соціальні мережі</h3>
            <p class="text-brown-600 mb-4">
                <a href="https://www.instagram.com/planeta_style" target="_blank" class="social-icon nav-link">
                    <i class="fab fa-instagram"></i> planet_style
                </a> |
                <a href="https://www.tiktok.com/@planeta_style_ua" target="_blank" class="social-icon nav-link">
                    <i class="fab fa-tiktok"></i> planet_style
                </a>
            </p>
        </div>
    </div>
{% endblock %}